{% extends "layout.html" %}

{% block content %}
    <h1>Editar Usuaria</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('evento_index') }}">Volver a la lista</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
