{% extends "layout.html" %}

{% block content %}
    <h1>Crear nuevo Contenido</h1>

    {{ include('contenido/_form.html.twig') }}

    <a href="{{ path('evento_index') }}">Volver a la lista</a>
{% endblock %}
