@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');
.perfil{
    padding: 80px 0;
}
.container h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: red;
    font-size: 70px;
    text-shadow: 1px 1px 2px rgb(224, 222, 222), 0 0 25px rgb(136, 136, 136), 0 0 5px rgb(245, 30, 30);
    
}
.card{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius:15px ;
}
.img1 img{
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}
.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index:1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
}
.card:hover .img2 img{
    border-color: rgb(204, 1, 1);
    transition: .7s;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: .2s;
}
.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size:20px;
    margin: 0 0 20px;
    text-align: center;
}
.main-text p{
    font-size: 16px;
    padding: 0 35px;
}

.horario{
    text-align: center;
    padding-bottom: 20px;
}
.horario p{
    font-weight: 500;
    font-style: oblique;
}

.far{
 color: rgb(189, 12, 12);
 font-size: 35px;
}
.far:hover{
    color: rgb(255, 0, 0);
}