<div class="container">

    <div style="margin-top: 50px;">
        <h1>
            <a class="text-dark home"> <span><i class="fas fa-hiking"></i> </span> </a> Actividades </h1>
        <p>Actividades que realizamos en Mil.Una</p>
    </div>


    <!-- CARD 1 -->

    <br>
    <br>

    <div class="row justify-content-center" *ngFor="let actividad of actividades" style="margin-bottom: 25px;">
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title" style="text-decoration: underline black;">{{actividad.nombre}}</h5>
                <p class="card-text">{{actividad.DescripcionEvento}}</p>
                <h6 style="color: gray;">- Fecha: {{actividad.FechaEvento}}</h6>
            </div>
        </div>
    </div>


</div>
