h5 {
    color: white;
}

span {
    color: white;
}

.imitacionIcon {
    border-radius: 250px;
    background-color: aliceblue;
    width: 35px;
    height: 35px;
    position: absolute;
}

.fab {
    color: white;
}

.mapa {
    border-radius: 250px;
}