<!-- INICIO CABECERA -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <a class="navbar-brand" href="/landing">
            <img src="./assets/header-logo.png" class="logo" alt="Logo mil.una" width="70" height="70">
        </a>


        <div class="collapse navbar-collapse justify-content-center" id="navbar">
            <ul class="navbar-nav mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/calendario']">
                        <span class="txtcolor">Calendario</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/eventos']">
                        <span class="txtcolor">Eventos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/galeria']">

                        <span class="txtcolor">Galeria</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/trabajo']">
                        <span class="txtcolor">Trabajo</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="txtcolor">Acceso</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item"[routerLink]="['/login']"><span class="txtcolor">Login</span></a></li>
                        <li><a class="dropdown-item"[routerLink]="['/register']"><span class="txtcolor">Register</span></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/admin']">
                        <span class="txtcolor">Admin (temporal)</span>
                    </a>
                </li>
            </ul>

        </div>

        <a class="navbar-brand " href="#">
            <img src="./assets/header-idiomas.png" alt="Icono Traducción" width="40" height="40">
        </a>

    </div>

</nav>

<div class="" style="background-color: #D13240; height: 3px;">

</div>
<!-- FIN CABECERA -->