@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');
.txtcolor {
    color: black;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    padding-right: 20px;
}

.logo {
    margin-left: 10px;
    margin-top: 5px;
}

a {
    color: #D13240;
    font-family: 'Dancing Script', cursive;
}

.txtcolor:hover {
    font-weight: bold;
}

span {
    font-size: 130%;
}

.line {
    background-color: #D13240;
}

.idioma:hover{
    opacity: 0.5;
}


li{list-style:none;}







.wrapper{
    display: inline-flex;
  }
  
  .wrapper .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px 18px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip{
    top: 75px;
    opacity: 1;
    margin-left: 15px;
  }


  .icon .tooltip:before{
    position: absolute;
    height: 15px;
    width: 15px;
    background: rgb(255, 255, 255);
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  
 
  
  