<!-- INICIO CABECERA -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/landing">
      <img src="./assets/header-logo.png" class="logo" alt="Logo mil.una" width="70" height="70">
    </a>


    <div class="collapse navbar-collapse justify-content-center" id="navbar">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <div class="wrapper">
          <div class="icon">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/landing']">
                <div class="row">
                  <div class="col-md-3 d-block d-sm-none d-sm-block d-md-none d-md-block d-lg-none">
                    <a class="text-dark home"> <span><i class="fas fa-home"></i> </span> </a>
                  </div>
                  <div class="col-md-3">
                    <span class="txtcolor">INICIO</span>
                  </div>
                </div>
              </a>
              <div class="tooltip d-none d-xl-block d-lg-block d-xl-none">
                <a class="text-dark home"> <span><i class="fas fa-home"></i> </span> </a>
              </div>
            </li>
          </div>
        </div>
        <div class="wrapper">
          <div class="icon">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/eventos']">
                <div class="row">
                  <div class=" col-md-3 d-block d-sm-none d-sm-block d-md-none d-md-block d-lg-none">
                    <a class="text-dark home"> <span><i class="fas fa-hiking"></i> </span> </a>
                  </div>
                  <div class="col-md-3">
                    <span class="txtcolor">ACTIVIDADES</span>
                  </div>
                </div>
              </a>
              <div class="tooltip d-none d-xl-block d-lg-block d-xl-none">
                <a class="text-dark home"> <span><i class="fas fa-hiking"></i> </span> </a>
              </div>
            </li>
          </div>
        </div>


        <div class="wrapper">
          <div class="icon">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/galeria']">
                <div class="row">
                  <div class=" col-md-3 d-block d-sm-none d-sm-block d-md-none d-md-block d-lg-none">
                    <a class="text-dark home"> <span><i class="fas fa-images"></i> </span> </a>
                  </div>
                  <div class="col-md-4">
                    <span class="txtcolor">GALERIA</span>
                  </div>
                </div>
              </a>
              <div class="tooltip d-none d-xl-block d-lg-block d-xl-none">
                <a class="text-dark home"> <span><i class="fas fa-images"></i> </span> </a>
              </div>

            </li>
          </div>
        </div>



        <div class="wrapper">
          <div class="icon">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/trabajo']">
                <div class="row">
                  <div class=" col-md-3 d-block d-sm-none d-sm-block d-md-none d-md-block d-lg-none">
                    <a class="text-dark home"> <span><i class="fas fa-briefcase"></i> </span> </a>
                  </div>
                  <div class="col-md-3">
                    <span class="txtcolor">TRABAJO</span>
                  </div>
                </div>
              </a>
              <div class="tooltip d-none d-xl-block d-lg-block d-xl-none">
                <a class="text-dark home"> <span><i class="fas fa-briefcase"></i> </span> </a>
              </div>
            </li>
          </div>
        </div>

        <div class="wrapper">
          <div class="icon">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['#']">
                <div class="row">
                  <div class=" col-md-3 d-block d-sm-none d-sm-block d-md-none d-md-block d-lg-none">
                    <a class="text-dark home"> <span><i class="fas fa-user"></i> </span> </a>
                  </div>
                  <div class="col-md-4">
                    <span class="txtcolor">ACCESO</span>
                  </div>
                </div>
              </a>
              <div class="tooltip d-none d-xl-block d-lg-block d-xl-none">
                <a class="text-dark home"> <span><i class="fas fa-user"></i> </span> </a>
              </div>

            </li>
          </div>
        </div>

        <li class="nav-item d-block d-sm-none d-sm-block d-md-none d-md-block d-lg-none">
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="./assets/header-idiomas.png" alt="Icono Traducción" width="40" height="40">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
        <li class="idioma" style="text-align: center;"><img src="./assets/header-traduccioncastellano.png"
            alt="Traduccón a valenciano" width="40" height="40"></li>
        <li class="idioma" style="text-align: center; margin-top: 2%;"><img
            src="./assets/header-traduccionvalenciano.png" alt="Traduccón a castellano" width="40" height="40"></li>
        <li class="idioma" style="text-align: center; margin-top: 2%;"><img src="./assets/header-traduccioningles.png"
            alt="Traduccón a ingles" width="40" height="40"></li>
    </div>
  </div>
  </li>
  </ul>
  </div>

  <div class="dropleft d-none d-xl-block d-lg-block d-xl-none" style="transition-duration: 3s, 5s;">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      <img src="./assets/header-idiomas.png" alt="Icono Traducción" width="40" height="40">
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <li class="idioma" style="text-align: center;"><img src="./assets/header-traduccioncastellano.png"
          alt="Traduccón a valenciano" width="40" height="40"></li>
      <li class="idioma" style="text-align: center; margin-top: 2%;"><img src="./assets/header-traduccionvalenciano.png"
          alt="Traduccón a castellano" width="40" height="40"></li>
      <li class="idioma" style="text-align: center; margin-top: 2%;"><img src="./assets/header-traduccioningles.png"
          alt="Traduccón a ingles" width="40" height="40"></li>
    </div>
  </div>



  </div>

</nav>

<div class="" style="background-color: rgb(130, 197, 221); height: 3px;">

</div>
<!-- FIN CABECERA -->
