.card {
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 40px;
  box-shadow: 6px 20px 10px #4b788348;
  border: 10px 10px 10px;
  border-color: rgba(0, 174, 255, 0.746);
}

button {
  float: right;
}

hr {
  opacity: 100;
  margin-top: 70PX;
  size: 20px;
}

@media only screen and (max-width: 412px) {

  h1 a{
       text-align: center;
   }
   .textos p{
     text-align: center;
   }

}
@media only screen and (max-width: 600px) {
  .btn-flotante {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 20px;
      right: 20px;
  }
}
@media only screen and (max-width: 412px) {
  .sombreadoImagen{
      width: 360px;
      height: 400px;
  }
  .imagen2contenido img{
      width: 360px;
  }
}
