<div class="container">

    <div style="margin-top: 50px;">


        <h1>
            <a class="text-dark home"> <span><i class="fas fa-briefcase"></i> </span> </a> Empleo </h1>
        <br>
        <p> Las ofertas que se muestran son ofertas para empresas externas a la asociación, la asociación solo muestra las ofertas para el interés de los usuarios.</p> <br>
    </div>



    <!-- CARD 1 -->

    <div class="row" *ngFor="let empleo of empleos">
        <div data-aos="flip-left" data-aos-once="true" class="card w-75">
            <div class="card-body">
                <h5 class="card-title">{{empleo.nombre}}</h5>
                <p class="card-text">- {{empleo.empresaEmpleo}} -</p>
                <a href="{{empleo.enlaceEmpleo}}" class="btn btn-outline-danger">Oferta</a>
            </div>
        </div>
    </div>
</div>