<form method="post" action="{{ path('empleo_delete', {'idEmpleo': empleo.id}) }}" onsubmit="return confirm('¿Segura de que quieres eliminar?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ empleo.id) }}">
    <button class="btn">Eliminar</button>
</form>
