{% extends "layout.html" %}

{% block content %}


    <h1>Crear nuevo Evento</h1>

    {{ include('evento/_form.html.twig') }}

    <a href="{{ path('evento_index') }}">Volver a la lista</a>
{% endblock %}
