<div class="fondo">

  <img class="imagenInicio"
    src="https://estaticos-cdn.prensaiberica.es/clip/e7b8b809-1dff-43c6-8d97-e9caafeba822_21-9-aspect-ratio_default_0.jpg"
    alt="Responsive image">

</div>

<div class="divSombreado">
  <h2 class="titulo">mil.una</h2>

  <div class="iconosInicio">

    
    <ul class="list-unstyled">
      <li>
        <a href="tel:+34678567876" class="text-dark"> <span><i class="fas fa-phone me-3"></i> </span> </a>
      </li>

      <li>
        <a href="mailto:elcorreoquequieres@correo.com" class="text-dark"> <span><i class="fas fa-envelope me-3"></i>
          </span> </a>
      </li>

        <ul class="list-unstyled">
            <li>
                <a href="tel:+34648661161" class="text-dark"> <span><i class="fas fa-phone me-3"></i> </span> </a>
            </li>

            <li>
                <a href="mailto:miluna.sagunt@gmail.com" class="text-dark"> <span><i class="fas fa-envelope me-3"></i> </span> </a>
            </li>


    </ul>

  </div>

</div>

<div class="container mt-5">

  <div class="row">
      <br>

    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <h2 class="containerh2">En lucha permanente</h2>
      <h2 class="containerh2">por las mujeres</h2>

      <hr size="5px" color="#D13240" />
    </div>

    <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <p>Somos una asociación que contribuimos, desde nuestras acciones, a la lucha contra la violencia de género, al
        empoderamiento de las mujeres, al pleno ejercicio de sus derechos y al logro de la equidad de género, como
        condiciones imprescindibles para llegar a la justicia social, al desarrollo humano sostenible y a la paz.
      </p>
      <p>
        POR TI MUJER desarrolla también programas de codesarrollo y cooperación internacional en Latinoamérica.
      </p>
    </div>
  </div>
</div>






<div class="estadisticas">Añadir estadisticas cambair fondo por una imgen mas original como la de fondoEstadisticas.jpg
  pero que ciadre con los colores de la empresa </div>

<div class="estadisticas">Añadir estadisticas cambair fondo por una imgen mas original como la de fondoEstadisticas.jpg pero que ciadre con los colores de la empresa </div>




<div class="row" style="margin-top: 20px; margin-bottom: 20px;">

    <div class="col-md-4 col-sm-12">

        <h2 class="titulo3">Algunos de los clientes que mencionan nuestro trabajo en sus webs:</h2>

    </div>

    <div class="col-md-2 col-sm-12">

        <a title="Los Tejos" href="https://cistella.webs.upv.es/"><img class="imagenesCorporativas" src="./assets/cistella.png" alt="Logo asociación que muestra el trabajo de mil.una es sus webs"> </a>

    </div>

    <div class="col-md-3 col-sm-12">

        <a title="Los Tejos" href="https://domusbaebia.com/"> <img class="imagenesCorporativas" src="./assets/corpus-banner.png" alt="Logo asociación que muestra el trabajo de mil.una es sus webs"></a>

    </div>

    <div class="col-md-3 col-sm-12">

        <a title="Los Tejos" href="https://maminat.com/"> <img class="imagenesCorporativas" src="./assets/maminat.png" alt="Logo asociación que muestra el trabajo de mil.una es sus webs"></a>

    </div>

</div>

