<div class="d-none d-xl-block d-lg-block d-xl-none">
<div class="fondo">
  <img class="imagenInicio" src="./assets/landing-background-1.png" alt="Responsive image"></div>
</div>


<div class="nav-item d-block d-sm-none d-sm-block d-md-none d-md-block d-lg-none">

<div class="fondo">

  <img class="imagenInicio" src="./assets/landing-background-2.png" alt="Responsive image">

</div>
</div>












<div class="divSombreado">
    <h2 class="titulo">mil.una</h2>

    <div class="iconosInicio">

        <ul class="list-unstyled">
            <li>
                <a href="tel:+34648661161" class="text-dark"> <span><i class="fas fa-phone me-3"></i> </span> </a>
            </li>

            <li>
                <a href="mailto:miluna.sagunt@gmail.com" class="text-dark"> <span><i class="fas fa-envelope me-3"></i> </span> </a>
            </li>

        </ul>

    </div>

</div>

<br>
<br>

<div class="container-fluid">
    <div class="row">
      <div  data-aos="fade-right" class="col col-xl-6 col-lg-6 col-md-5 col-sm-12 col-12">
        <h2 class="titulo2">En lucha permanente <br> por las mujeres</h2>
        <hr size="5px" class="primerHr" />
      </div>
      <div data-aos="fade-left" class="col col-xl-6 col-lg-6 col-md-7 col-sm-12 col-12">
        <p class="textoDefinicion">Mil.una Sagunt es un proyecto que trabaja con mujeres en el territorio desde 1998.
          Apostamos por la formación y el empoderamiento de las mujeres que viven situaciones de vulnerabilidad y
          desigualdad social y que buscan una segunda oportunidad
          formativa y un acceso al empleo digno. A través de la confianza, la creatividad y las relaciones grupales,
          trabajamos nuevas maneras de vernos en el empleo, la familia, el entorno y así que las participantes tengan más
          oportunidades de elegir.
        </p>
      </div>
    </div>
  </div>
  

<br>

<div data-aos="fade-up"  class="container">

    <div class="row segundoRow">

        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="centrarImagen"> <img class="sombreadoImagen rounded" src="./assets/landingFoto2.png" alt="Imagen por describir">
            </div>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 sombreadoParalelo">

            <div class="divDeDiv">

                <p class="textoSegundadefinicion">Nuestra fórmula de trabajo es la formación prelaboral, constatamos que a través de un modelo de aprendizaje basado en la formación mediante el trabajo en talleres prelaborales y realizando un acompañamiento personal, se pueden ofrecer
                    los instrumentos necesarios para desarrollar y adquirir unas condiciones de empleabilidad que permitan la inclusión laboral y social. <br> Contamos con un taller productivo de costura que responde a la necesidad de ofrecer un espacio
                    de trabajo protegido para mujeres que por sus condiciones actuales, no pueden incorporarse al empleo ordinario. A la vez, a través de nuestra marca realizamos un trabajo de sensibilización y visibilización con diferentes entidades
                    y particulares que compran nuestros productos Mil.Una contribuyendo así a crear relaciones comerciales más justas y sostenibles.</p>

            </div>

        </div>

    </div>

</div>

<br>

<div class="estadisticas">

    <div>

        <div class=" m-0 row jutify-content-center ">

            <div data-aos="fade-right"  class=" col-lg-3 col-md-6 col-sm-12 ">

                <i class="fa fa-bar-chart iconosCenter" aria-hidden="true"></i>

                <h3 class="datoNumerico">{{projectCount}} </h3>

                <h5 class="textoDatos">Inserciones laborales <br> desde 2017. </h5>

            </div>

            <div data-aos="fade-up"  class="col-lg-3 col-md-6 col-sm-12 ">

                <i class='fas fa-chart-line iconosCenter'></i>

                <h3 class="datoNumerico">{{projectCount2}} </h3>

                <h5 class="textoDatos"> Media de mujeres <br> atendidas cada curso.</h5>

            </div>

            <div data-aos="fade-up" class="col-lg-3 col-md-6 col-sm-12 ">

                <i class="fa fa-pie-chart iconosCenter" aria-hidden="true"></i>

                <h3 class="datoNumerico">{{projectCount3}} </h3>

                <h5 class="textoDatos">Mujeres con empleo <br> estable. </h5>

            </div>

            <div data-aos="fade-left" class="col-lg-3 col-md-6 col-sm-12 ">

                <i class="fa fa-plus-square-o iconosCenter" aria-hidden="true"></i>
                <h3 class="datoNumerico">{{projectCount4}} </h3>

                <h5 class="textoDatos"> Numero mascarillas cosidas <br> en nuestro taller.</h5>

            </div>

        </div>


    </div>



</div>

<br>
<br>


    <br>

    <div class="container">


        <div class="row">


            <div data-aos="fade-up"  class="col-lg-6 col-md-12 col-sm-12 ">

                <div class="bloque3contenido">

                    <h5 class="titulo4">Las actividades que ofrecemos son:</h5>

                    <br>

                    <p class=""><b>-Empleo: </b> Formación y acompañamiento durante la búsqueda.
                    </p>

                    <p><b>-Mediación laboral:</b></p>

                    <ol type=”A”>
                        <li>Espacios grupales de reflexión y empoderamiento.</li>
                        <li>Tertulias literarias</li>
                        <li>Aprendizaje para la elaboración artesanal de productos textiles</li>
                        <li>Espacio seguro y feminista </li>
                        <li>Sostenibilidad social y medioambiental a través de la venta de productos </li>
                    </ol>


                </div>



            </div>


            <div data-aos="flip-up"  class="col-lg-6 col-md-12 col-sm-12 imagen2contenido">
                <img src="./assets/landing2.png" class="rounded " alt="...">
            </div>
        </div>
    </div>

<br>
<br>

<div data-aos="fade-up" class="container-fluid">
    <div class="row">
      <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <h2 class="titulo3 clase2">Algunos de nuestros clientes:</h2>
        <hr size="5px" class="hrCorporativo" />
      </div>
      <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div id="carouselExampleControls" class="carousel slide carouselAlineacion" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100 imagenesCorporativas" src="./assets/LogoDomusBaebia.jpg" alt="Third slide">
    
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 imagenesCorporativas" src="./assets/ninos.png " alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 imagenesCorporativas" src="./assets/maminat.png " alt="Third slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 imagenesCorporativas" src="./assets/cistella.png " alt="First slide">
    
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 imagenesCorporativas" src="./assets/corpus-banner.png " alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <h2 class="titulo3 clase2">Con el apoyo de: </h2>
      <hr size="5px" class="hrCorporativo" />
      </div>
      <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div id="carouselExampleControls" class="carousel slide carouselAlineacion " data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100 imagenesCorporativas" src="./assets/AyuntamientoSagunto.JPG" alt="Third slide">
    
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 imagenesCorporativas" src="./assets/Generalitat.JPG" alt="Second slide">
            </div>
    
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  <br>
  
  
  
  
  
  
  
  
  <div class="btn-flotante" (click)="ocultar()">
  
    <span><i class="fas fa-volume-up" [ngClass]="ocultarVolumen" style="color: white; "></i> </span>
  
    <span><i class="fa fa-remove poscionX" [ngClass]="ocultarX" style="color: white; "></i> </span>
  
    <audio controls class="poscionAudio" [ngClass]="controlAudio">
  
      <source src="./assets/AudioLanding.mp3" type="audio/mp3">
  
    </audio>
  
  </div>
  
  <br>