<div class="fondo">

    <img class="imagenInicio" src="https://estaticos-cdn.prensaiberica.es/clip/e7b8b809-1dff-43c6-8d97-e9caafeba822_21-9-aspect-ratio_default_0.jpg" alt="Responsive image">

</div>

<div class="divSombreado">
    <h2 class="titulo">mil.una</h2>

    <div class="iconosInicio">

        <ul class="list-unstyled">
            <li>
                <a href="tel:+34678567876" class="text-dark"> <span><i class="fas fa-phone me-3"></i> </span> </a>
            </li>

            <li>
                <a href="mailto:elcorreoquequieres@correo.com" class="text-dark"> <span><i class="fas fa-envelope me-3"></i> </span> </a>
            </li>

        </ul>

    </div>

</div>

<div class="row" id="primerRow">

    <div class="col-md-6 col-sm-12">
        <h2 class="titulo2">En lucha permanente <br> por las mujeres</h2>
        <hr size="5px" color="#D13240" />


    </div>

    <div class="col-md-6 col-sm-12">
        <p class="textoDefinicion">Somos una asociación que contribuimos, desde nuestras acciones, a la lucha contra la violencia de género, al empoderamiento de las mujeres, al pleno ejercicio de sus derechos y al logro de la equidad de género, como condiciones imprescindibles
            para llegar a la justicia social, al desarrollo humano sostenible y a la paz. POR TI MUJER desarrolla también programas de codesarrollo y cooperación internacional en Latinoamérica.</p>
    </div>

</div>


<div class="estadisticas">Añadir estadisticas cambair fondo por una imgen mas original como la de fondoEstadisticas.jpg pero que ciadre con los colores de la empresa </div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>