<div class="container ">
  <div class="jumbotron mt-2">
      <h1>Galeria de imagenes</h1>
      <p>Nuestra galieria de imagnes de Mil.Una</p>
  </div>
  <!------------------------------------------------BOTONES---------------------------------------------->
  <!------------------------------------------------BOTONES---------------------------------------------->
  <!------------------------------------------------GALERIA IMAGENES---------------------------------------------->
  <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="home-tab">
          <div class="row mt-4">
              <div *ngFor="let elemento of contenido" class="item col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
                  <div  class="item col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-3">
                      <a [href]="'http://localhost:8000/uploads/contenido/'+elemento.EnlaceContenido" class="facnybox" data-fancybox="gallery1">
                          <img [src]="'http://localhost:8000/uploads/contenido/'+elemento.EnlaceContenido">
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!------------------------------------------------GALLERIA IMAGENES FIN--------------------------------->
  <!------------------------------------------------GALLERIA VIDEOS INICIO--------------------------------->
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  </div>
  <!------------------------------------------------CARROUSEL---------------------------------------------->
</div>
