<div class="container">
<div class="jumbotron">
    <h1>Galeria de imagenes</h1>
    <p>Nuestra galieria de imagnes de Mil.Una</p>
</div>
    <div class="row m-3 text-center">
        <div class="col col-xl-4"><button><i class="fas fa-play"></i></button></div>
        <div class="col col-xl-4"><button><i class="fas fa-play"></i></button></div>
        <div class="col col-xl-4"><button>Videos</button></div>
    </div>
    <div class="row m-3">
        <div class="col col-lg-4  mb-4 mb-lg-0"><img class="w-100 shadow-1-strong rounded mb-4" src="./assets/prueba.jpg"></div>
        <div class="col col-lg-4  mb-4 mb-lg-0"><img class="w-100 shadow-1-strong rounded mb-4" src="./assets/prueba.jpg"></div>
        <div class="col col-lg-4  mb-4 mb-lg-0"><img  class="w-100 shadow-1-strong rounded mb-4"src="./assets/prueba.jpg"></div>
    </div>
    <div class="row m-3">
        <div class="col col-lg-4  mb-4 mb-lg-0"><img class="w-100 shadow-1-strong rounded mb-4" src="./assets/prueba.jpg"></div>
        <div class="col col-lg-4  mb-4 mb-lg-0 "><img class="w-100 shadow-1-strong rounded mb-4" src="./assets/prueba.jpg"></div>
        <div class="col col-lg-4  mb-4 mb-lg-0"><img class="w-100 shadow-1-strong rounded mb-4" src="./assets/prueba.jpg"></div>
    </div>
    <div class="row m-3">
        <div class="col col-lg-4 "><img class="w-100 shadow-1-strong rounded mb-4" src="./assets/prueba.jpg"></div>
        <div class="col col-lg-4  mb-4 mb-lg-0"><img  class="w-100 shadow-1-strong rounded mb-4" src="./assets/prueba.jpg"></div>
        <div class="col col-lg-4  mb-4 mb-lg-0"><img  class="w-100 shadow-1-strong rounded mb-4" src="./assets/prueba.jpg"></div>
    </div>

    <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>


















      <!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Gallery -->
</div>
