<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col"><button>Fotos</button></div>
        <div class="col"><button>Videos</button></div>
    </div>
    <div class="row">
        <div class="col"><a class="img" href="https://wallpaperaccess.com/full/1782494.jpg"></a></div>
        <div class="col"><a href="https://wallpaperaccess.com/full/1782494.jpg"></a></div>
        <div class="col"><a href="https://wallpaperaccess.com/full/1782494.jpg"></a></div>
        <div class="col"><a href="https://wallpaperaccess.com/full/1782494.jpg"></a></div>
    </div>
    <div class="row">
        <div class="col"><a href="https://wallpaperaccess.com/full/1782494.jpg"></a></div>
        <div class="col"><a href="https://wallpaperaccess.com/full/1782494.jpg"></a></div>
        <div class="col"><a href="https://wallpaperaccess.com/full/1782494.jpg"></a></div>
        <div class="col"><a href="https://wallpaperaccess.com/full/1782494.jpg"></a></div>
    </div>
</div>
