<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div style="background-color: #D13240;">

        <div class="container p-4 ">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">


                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark"><span>Direccion</span> </a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark"><span>Relleno </span> </a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark"><span>Relleno</span></a>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

                    <h5>mil.una</h5>


                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">


                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark"> <span> N.Contacto </span> </a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark"> <span>Correo</span> </a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark"> <span>Link 3</span> </a>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>

    </div>

    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #A12432;">

        <a class="text-dark"> <span>© 2020 Copyright: PowDevs</span> </a>
    </div>
    <!-- Copyright -->
</footer>