@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: black;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

footer {

    position: relativo;
    color: black;
    bottom: 0;
    width: 100%;
    height: 40px;
}

span {
    color: black;
}

.mapa {
    border-radius: 22px;
    margin-top: 10px;
}

.imitacionIcon {
    border-radius: 250px;
    background-color: aliceblue;
    width: 35px;
    height: 35px;
    position: absolute;
}

.fab {
    color: black;
}

.fab:hover {
    transform: scale(1.15);
    transition: .2s;
}

#form-group {
    display: flex;
    align-items: center;
}

li {
    margin-top: 10px;
}

hr {
    display: none;
    opacity: 100%;
    height: 1px;
}

@media screen and (max-width: 767px) {
    hr {
        display: flex;
    }
}
