@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
h2 {
    color: black;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

footer {
    position: absolute;
    width: 100%;
    color: black;
}

span {
    color: black;
}

.mapa {
    border-radius: 22px;
    margin-top: 10px;
}

.imitacionIcon {
    border-radius: 250px;
    background-color: aliceblue;
    width: 35px;
    height: 35px;
    position: absolute;
}

.fab {
    color: black;
}
.fab:hover{
    transform: scale(1.15);
    transition: .2s;
}

#form-group {
    display: flex;
    align-items: center;
}

li {
    margin-top: 10px;
}

hr {
    display: none;
}

@media screen and (max-width: 767px) {
    hr {
        display: flex;
    }
}