h5 {
    color: white;
    margin-bottom: 40px;
}

span {
    color: white;
}

.mapa {
    border-radius: 22px;
    margin-top: 10px;
}

.imitacionIcon {
    border-radius: 250px;
    background-color: aliceblue;
    width: 35px;
    height: 35px;
    position: absolute;
}

.fab {
    color: white;
}

#form-group {
    display: flex;
    align-items: center;
}

li {
    margin-top: 10px;
}

hr {
    display: none;
}

@media screen and (max-width: 767px) {
    hr {
        display: flex;
    }
}