<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Grid container -->
    <div style="background-color: #d83586;">

        <div class="container p-4 ">
            <!--Grid row-->
            <div class="row" id="form-group">

                <!--Grid column-->
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">


                    <ul class="list-unstyled">
                        <li>
                            <a href="tel:+34648661161 " class="text-dark"> <span><i class="fas fa-phone me-3"></i> +34 648661161  </span> </a>
                        </li>
                        <li>
                            <a href="mailto:miluna.sagunt@gmail.com" class="text-dark"> <span><i class="fas fa-envelope me-3"></i> miluna.sagunt@gmail.com</span> </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/maps/place/C.+Hospital,+9,+46500+Sagunto,+Valencia/@39.6796064,-0.2821193,17z/data=!3m1!4b1!4m5!3m4!1s0xd60151633ea13ff:0xba880a6489da478a!8m2!3d39.6796023!4d-0.2799306?hl=es" class="text-dark"> <span><i class="fas fa-home me-3"></i> C/ Hospital nº 9   Sagunto (Valencia)  <br> CP: 46500</span> </a>
                        </li>

                    </ul>
                    <hr size="8px" color="white" />

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

                    <h2>mil.una</h2>


                    <div class="col-md-12 text-center" style="margin-top: 20px;">
                        <a href=""><i class="fab fa-facebook" style="font-size:30px; margin-right: 20px; margin-left: 18px;"></i></a>
                        <a href=""><i class="fab fa-instagram" style="font-size:30px;margin-right: 20px; "></i></a>
                        <a href=""><i class="fab fa-google"style="font-size:30px;  margin-right: 20px;"></i></a>

                    </div>

                    <hr size="8px" color="white" />
                </div>
                <!--Grid column-->



                <!--Grid column-->
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

                    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d767.6684724345105!2d-0.2800578729669806!3d39.67954976158921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60151631574c1b%3A0xa3b58c730fabcc24!2sC.%20Hospital%2C%2011%2C%2046500%20Sagunto%2C%20Valencia!5e0!3m2!1ses!2ses!4v1644237970095!5m2!1ses!2ses"
                        width="230" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>

    </div>

    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #882154;">

        <a class="text-dark"> <span>© 2022 Copyright: PowDevs</span> </a>
    </div>
    <!-- Copyright -->
</footer>